.heading {
  position: relative;
  padding-bottom: 15px;
}
.heading::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #272774;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
