.heading {
    position: relative;
}
.heading::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 5px;
    background-color: #272774;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
